<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I Need Help</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css" />
</head>
<body>
  <nav class="navbar is-primary container is-fluid">
    <div class="navbar-brand">
      <a href="/" class="navbar-item is-size-5">I Need Help</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item @loggedIn has-dropdown is-hoverable @endloggedIn">
          @loggedIn
          <a class="navbar-link">
            <i class="fas fa-user" style="margin-right: 0.5rem;"></i> {{ auth.user.first_name }}
          </a>

          <div class="navbar-dropdown">
            <a href="#" class="navbar-item">Profile</a>
            <a href="/logout" class="navbar-item">Log Out</a>
          </div>
          @else
          <div class="buttons">
            <a href="/register" class="button is-info">Sign Up to Help</a>
            <a href="/login" class="button is-light">Log In</a>
          </div>
          @endloggedIn
        </div>
      </div>
    </div>
  </nav>

  <div class="container is-fluid" style="margin-top: 32px">
    @!section('content')
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  @!section('scripts')
</body>
</html>
